/* CARDS er til cards på forsiden og styler den */

.daily_card {
  background-color: var(--article-background-color);
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 10px;
  padding: 10px 0 10px 10px;
  /* border: 1px solid var(--border-color); */
  border-radius: var(--border-radius);
  height: minmax(200px, min-content);
}
.daily_text {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 10px;
}
.daily_card h2 {
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 1rem;
  margin: 0 0 0.5rem 0;
}
.daily_text p {
  padding-right: 2rem;
  margin: 0 0 1rem 0;
}
.daily_text .cta_btn {
  justify-self: left;
}
.daily_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news_card1 h2 {
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 1rem;
  margin: 0 0 0.5rem 0;
}

.hamster-teaser_img {
  max-width: 100%;
}

.news-teaser_img {
  max-width: 100%;
}

.hamster-icon {
  max-width: 8%;
}

.nyhed-tekst {
  padding-left: 0.7rem;
}

.news_card1 {
  background-color: var(--article-background-color1);
  display: grid;
  grid-template-rows: repeat(min-content);
  gap: 0.4rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
  /* border: 1px solid var(--border-color); */
  height: minmax(300px, min-content);
}

.news_card2 {
  background-color: var(--article-background-color2);
  display: grid;
  grid-template-rows: repeat(min-content);
  gap: 0.4rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
  /* border: 1px solid var(--border-color); */
  height: minmax(300px, min-content);
}

.news_card3 {
  background-color: var(--article-background-color3);
  display: grid;
  grid-template-rows: repeat(min-content);
  gap: 0.4rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
  /* border: 1px solid var(--border-color); */
  height: minmax(300px, min-content);
}

.news_card:nth-child(2n) {
  background-color: var(--news-background-color-inverted);
}
.news_card > * {
  padding: 0 1rem;
}
.news_card h3 {
  margin: 0.5rem 0 0 0;
}
.news_card p {
  margin: 0 0 1rem 0;
}

.news_card:first-child:before {
  content: "BREAKING NEWS";
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  font-family: var(--headline-font);
  font-size: var(--headline3-size);
  text-align: center;
  line-height: 1rem;
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 0;
  /* margin: 0 0 1rem 0; */
}
.news_card:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.news_card:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.news_card .cta_btn {
  justify-self: center;
}

.menuItem {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--followup-text-bg-colorx);
  color: var(--followup-text-color2);
  text-align: center;
  text-decoration: none;
  width: max-content;
}

.button {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--followup-text-bg-color);
  color: var(--followup-text-color);
  text-align: center;
  text-decoration: none;
  width: max-content;
}

.cta_btn {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--followup-text-bg-color5);
  color: var(--followup-text-color);
  text-align: center;
  text-decoration: none;
  width: max-content;
}

.cta_btn1 {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--followup-text-bg-color1);
  color: white;
  text-align: center;
  text-decoration: none;
  width: max-content;
}

.cta_btn2 {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--followup-text-bg-color2);
  color: white;
  text-align: center;
  text-decoration: none;
  width: max-content;
}

.cta_btn3 {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--followup-text-bg-color3);
  color: white;
  text-align: center;
  text-decoration: none;
  width: max-content;
}

.cta_btn:after {
  content: "\2192";
  margin-left: 0.5rem;
}

::backdrop {
  backdrop-filter: blur(5px);
}

.logoheader {
  max-width: 100%;
  max-height: 100%;
}

/* Styling the dialog element */
dialog {
  border: none;
  border-radius: var(--border-radius);
  background-color: white;
  color: black;
  /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); */
  /* filter: drop-shadow(0px 0px 10px rgba(243, 61, 0, 1)); */
  /* border: 3px solid rgba(243, 61, 0, 1); */
  padding: 2rem;
  margin: minmax(1rem, auto);
  width: clamp(30ch, 80%, 600px);
  animation: flyIn 0.5s ease-in-out;
}
dialog h5 {
  font-size: var(--headline3-size);
  color: var(--headline-color-inverted);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

dialog p {
  font-family: "ADLaM Display";
  font-size: small;
}

/* Buttons */
button {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
dialog + button {
  width: max-content;
  margin-left: 1rem;
}
button:active {
  position: relative;
  box-shadow: none;
  translate: 2px 2px;
}

/* The background for the modal dialog box */
::backdrop {
  backdrop-filter: blur(5px);
}

/* Panorama */

#pan {
  background-image: url(../drawings/Artboardpan.svg);
  background-size: cover;
  background-position: 50% 0%;
}
.pan_animation {
  animation: panorama 5s linear infinite;
}
@keyframes panorama {
  0% {
    background-position: 50% 0%;
  }
  25% {
    background-position: 0% 0;
  }
  75% {
    background-position: 100% 0;
  }
  100% {
    background-position: 50% 0%;
  }
}
.stop {
  animation-play-state: paused;
}
