:root {
  /* Colours */
  --primary-bg-color: #ffe9ac; /* used */

  --secondary-bg-color: #5d656c; /* used */
  --secondary-font-color: #ffffff; /* used */

  /* CAN BE DELETED WHEN THE PLACEHOLDER CLASS IS DELETED */
  --placeholder-bg-color: #eb9e1a; /* used */
  --placeholder-font-color: #575c61; /* used */

  /* NOT USED AT THE MOMENT */
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;

  /* Borders */
  --border-color-light: #f7f5c2; /* used */
  --border-radius: 0.25rem;

  /* Links */
  --link-color: #84888e; /* used */
  --link-color2: #ffffff; /* used */
  --link-hover-color: #ffffff; /* used */
  --hover-color: #f9fcfe; /* used */
  --active-color: #f52727; /* used */

  /* From styletile */

  /* Fonts */
  --logotype-font: "Modak";
  --headline-font: "Modak";
  --body-font: "ADLaM Display";
  --link-font: "ADLaM Display";
  --p-font: "ADLaM Display";

  .p-strejke {
    font-family: "ADLaM Display";
    color: white;
    font-size: 1.5rem;
  }

  .nyhed {
    font-family: "Modak";
    color: white;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-size: 1.5rem;
    padding-left: 0.7rem;
  }

  /* Text sizes */
  --logotype-size: 1.5rem;
  --headline1-size: 3.9rem;
  --headline2-size: 2rem;
  --headline3-size: 1.7rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1.25rem;
  --followup-text-size: 0.8rem;
  --form-submit-size: 1rem;

  /* Text colors */
  --logotype-color: #ffffff;
  --headline-color: #ffffff;
  --headline2-color: #ffffff;
  --headline3-color: #ffffff;
  --headline-color-inverted: #ffffff;
  --bodytext-color: #575c61;
  --bodytext-color-inverted: #f9fcfe;
  --cta-text-color: #bbc3ca;
  --cta-text-color-inverted: #bbc3ca;
  --followup-text-color: #fffae2;
  --followup-text-color2: #000000;
  --followup-text-color3: #ffffff;
  --followup-text-color-inverted: #bbc3ca;
  --formfield-text-color: #575c61;
  --form-submit-color: #bbc3ca;
  --form-submit-color-inverted: #bbc3ca;

  /* Background colors */
  --logotype-background-color: #000000;
  --header-background-color: #92bde8;
  --article-background-color: #ffffff;
  --article-background-color1: #ffffff;
  --article-background-color2: #ffffff;
  --article-background-color3: #ffffff;
  --news-background-color: #dbdde3;
  --news-background-color-inverted: #dbe2f5;
  --info-background-color: #ffffff;
  --headline-bg-color: #dbdde3;
  --headline-bg-color-alert: #ff4b00;
  --headline-bg-color-alert2: #9dc283;
  --headline-bg-color-inverted: #000000;
  --bodytext-bg-color: #dbdde3;
  --bodytext-bg-color-inverted: #dbdde3;
  --cta-text-bg-color: #dbdde3;
  --cta-text-bg-color-inverted: #dbdde3;
  --followup-text-bg-color: #ffffff;
  --followup-text-bg-color1: #f79d60;
  --followup-text-bg-color2: #f79d60;
  --followup-text-bg-color3: #f79d60;
  --followup-text-bg-color4: #fffae2;
  --followup-text-bg-color5: #ff6014;
  --followup-text-bg-color-inverted: #dbdde3;
  --form-background-color: #c5c7ce;
  --form-text-color: #dbdde3;
  --formfield-background-color: #dbdde3;
  --formfield-background-color-active: #dbdde3;
  --form-submit-bg-color: #dbdde3;
  --form-submit-bg-color-inverted: #dbdde3;

  /* Info-boxes */
  --info-bg-color-yellow: #fceb94;
  --info-bg-color-green: #def5db;
}
